body {
  padding: 0;
  margin: 0;
}
.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  cursor: pointer;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin: 5px 0px;
}
a {
  text-decoration: none;
  color: inherit;
}

.p-20 {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-20 input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
  font-size: xx-large;
}
button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
  font-size: x-large;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 10px;
}

.NavTitle h1,
.NavButton button {
  margin: 0;
  white-space: nowrap;
}

.signin,
.signup {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin form {
  width: 60%;
  max-width: 400px;
}

.signup form {
  width: 80%;
  max-width: 600px;
}

.signin input,
.signup input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
  font-size: xx-large;
  width: 100%;
}

.error {
  padding-left: 30px;
}

button {
  cursor: pointer;
}
